body{
    margin:0;
    padding-top:80px;
    padding-left:96px;
    padding-right:96px;
    padding-bottom:300px;
}

.bouton{
    background-color: blanchedalmond;
    font-family: Roboto;
    color:black;

    padding: 10px 6px 10px 6px;
    margin:10px 6px 10px 6px;
    width:100px;
    height: 40px;

    border-radius: 10px;
}

.Overview{
    font-family: Roboto;
    font-weight: 400;

    display:flex;
    flex-direction: column;
    
}

.goal{
    margin-left: 12px;
}
.internal_link{
    color:white;
}
